@import "tailwindcss";

.modal-full-overlay {
    /* 1. Rôle de 'fixed' */
    position: fixed !important;
    /* 2. Rôle de 'inset-0' */
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 50 !important;
    background-color: rgba(0, 0, 0, 0.6) !important; 
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}