@import "tailwindcss";


.modal-full-overlay {
    /* 1. Rôle de 'fixed' */
    position: fixed !important;
    /* 2. Rôle de 'inset-0' */
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: 50 !important;
    background-color: rgba(0, 0, 0, 0.6) !important; 
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

input[type="checkbox"]{
    border-radius: 50%;
}

.loader {
  position: relative;
  width: 30px;
  height: 30px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #FF3D00 inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}
